@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

p{
    font-size: 13px;
}

.fa-solid{
    color: #0d6efd;
}

i:hover::before {
    transform: scale(1.1); 
  }
  
  i:hover {
    color: #075fe4; 
    text-shadow: 0 0 5px #075fe4;
  }